{% extends "auctions/layout.html" %} {% block body %}
<h2>Watchlist</h2>
{% for list in watchlists %}
<a href="{% url 'list' list.list.id%}" style="color: #0d1013">
  <div class="body-block">
    <table>
      <tr>
        <td>
          <img
            class="photo"
            src="{{ list.list.image_url }}"
            alt="{{ list.list.title }}"
          />
        </td>
        <td style="width: 80px"></td>
        <td>
          <div>
            <h2 id="list-name">{{ list.list.title }}</h2>
            <h4>Starting Bid:${{ list.list.price }}</h4>
            <div>{{ list.list.description }}</div>
            <div class="time" style="color: rgba(128, 128, 128, 0.783)">
              Created {{ list.list.time }}
        </td>
      </tr>
    </table>
  </div>
  <hr />
</a>
{% empty %}
No list is added.
{% endfor %} 

{% endblock %}
